.App {
  text-align: center;
}

.img {
  /* height: 500px; */
  object-fit: contain;
}

.ui.card > .image > img,
.ui.cards > .card > .image > img {
  height: 300px;
  background-color: white;
}

.four.wide.column {
  margin-top: 40px;
}

.meta.price {
  font-weight: 800;
}
